/* *****custom variables***** */
:root {
  /* ***primary*** */
  --very-dark-blue: hsl(243, 87%, 12%);
  --desaturated-blue: hsl(236, 22%, 44%);

  /* ***accent colors*** */
  --bright-blue: hsl(224, 93%, 58%);
  --moderate-cyan: hsl(170, 45%, 43%);

  /* ***neutral colors*** */
  --light-grayish-blue: hsl(240, 75%, 98%);
  --light-gray: hsl(0, 0%, 75%);
  --white: hsl(0, 0%, 100%);

  /* ***fonts*** */
  --headings-font: "Raleway", sans-serif;
  --body-font: "Open Sans", sans-serif;
}

/* *****general styles***** */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  border-color: var(--white);
  color: var(--very-dark-blue);
  font-family: var(--body-font);
  font-size: 16px;
  font-weight: 400;
  min-width: 100vw;
  min-height: 100vh;
}

.heading {
  font-family: var(--headings-font);
  text-align: center;
  letter-spacing: 0.03125rem;
}

.heading:first-letter {
  text-transform: uppercase;
}

img {
  max-width: 100%;
}

a:link,
a:visited {
  color: var(--white);
  letter-spacing: 0.03125rem;
  text-decoration: none;
}

ul.nav-links {
  list-style-type: none;
}

.nav-link {
  text-transform: capitalize;
}

/* ***forms*** */
form.hero-form,
form.get-access-form {
  width: 100%;
}

input[type="email"],
input[type="submit"] {
  width: 100%;
  margin-bottom: 0.6rem;
  border: none;
  border-radius: 4px;
  font-size: 0.8rem;
}

input[type="email"]:focus,
input[type="submit"]:focus {
  outline: none;
}

input[type="email"] {
  border: 1px solid var(--very-dark-blue);
  padding: 0.8rem 1rem;
}

input[type="submit"] {
  background-color: var(--bright-blue);
  color: var(--white);
  font-weight: 700;
  cursor: pointer;
  box-shadow: 0 4px 10px hsla(0, 0%, 0%, 0.15);
  padding: 0.9rem 1rem;
}

.section-heading {
  font-size: 1.1rem;
  padding-bottom: 1.5rem;
}

/* *****header***** */
header {
  width: 100%;
  padding: 1.5rem 5% 2rem;
}

nav.main-nav,
nav.main-nav ul.nav-links {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

nav.main-nav ul.nav-links .nav-link {
  padding-left: 1.5rem;
}

nav.main-nav ul.nav-links .nav-link a {
  border-bottom: 1px solid transparent;
  color: var(--very-dark-blue);
  font-size: 0.8rem;
  padding-bottom: 2px;
  transition: all 0.3s;
}

.hero {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.hero-img-container,
.hero-txt {
  text-align: center;
  width: 100%;
}

.hero-img-container {
  padding: 4rem 5% 2rem;
}

.main-heading,
p.hero-info {
  padding-bottom: 1.5rem;
}

.main-heading {
  font-size: 1.6rem;
  line-height: 1.3;
}

form.hero-form {
  padding: 0 4%;
}

/* *****main***** */
main {
  width: 100%;
}

/* ***stay productive*** */
.section-stay-productive {
  width: 100%;
  padding: 2rem 0 0;
}

.section-bg-top {
  background: url("./images/bg-curve-mobile.svg") 100% / 100% no-repeat;
  padding-top: 14.13%;
}

.stay-productive-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  background-color: var(--light-grayish-blue);
  padding: 0 5% 5rem;
}

.section-img-container {
  padding: 2rem 0 3rem;
  text-align: center;
}

.section-txt {
  padding: 1rem 0 0;
}

.section-stay-productive p.info {
  color: var(--desaturated-blue);
  padding-bottom: 1rem;
}

a.how-it-works {
  border-bottom: 1px solid var(--moderate-cyan);
  color: var(--moderate-cyan);
  display: block;
  font-size: 0.9rem;
  margin: 0.5rem auto 2rem;
  padding-bottom: 3px;
  text-align: center;
  max-width: max-content;
}

.testimonial {
  background-color: var(--white);
  box-shadow: 0 4px 10px hsla(0, 0%, 0%, 0.1);
  border-radius: 5px;
  padding: 1.5rem;
  width: 90%;
  margin: 0 auto;
}

.testimonial i,
.testimonial p.info {
  color: var(--very-dark-blue);
  font-size: 0.75rem;
}

.testimonial p.info {
  line-height: 1.6;
  padding: 0.5rem 0 0.5rem;
}

.author-profile {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
}

.author-pic {
  border-radius: 50%;
  width: 30px;
  margin-right: 0.5rem;
}

.author-name {
  font-size: 0.8rem;
}

.author-org {
  font-size: 0.6rem;
}

/* ***get access*** */
.section-get-access {
  background-color: var(--desaturated-blue);
  color: var(--white);
  padding: 2.5rem 5% 3rem;
  width: 100%;
}

.section-get-access p.info {
  text-align: center;
  padding-bottom: 1.5rem;
}

.section-get-access form.get-access-form {
  width: 90%;
  margin: 0 auto;
}

/* *****footer***** */
footer {
  background-color: var(--very-dark-blue);
  color: var(--white);
  padding: 3rem 10% 2rem;
  width: 100%;
}

.footer-logo {
  margin-bottom: 1.5rem;
}

.contact-details {
  width: 100%;
  padding-bottom: 2.5rem;
}

.contact-detail {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 1rem;
}

.contact-detail i {
  margin-right: 1rem;
}

.contact-detail.phone-number i {
  margin-right: 1.3rem;
}

nav.footer-nav {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-start;
}

nav.footer-nav .nav-links {
  padding-bottom: 1.5rem;
}

nav.footer-nav .nav-link {
  padding-bottom: 1rem;
}

footer .social-media {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  width: max-content;
  margin: 0 auto;
}

footer .social-media-link-container {
  padding: 0.4rem 0.6rem;
  border: 1px solid var(--white);
  border-radius: 50%;
  margin-right: 1rem;
  cursor: pointer;
}

footer .social-media-link-container:first-child {
  padding: 0.4rem 0.85rem;
}

footer .social-media-link-container:last-child {
  padding: 0.4rem 0.65rem;
  margin-right: 0;
}

/* *****media queries***** */
@media screen and (min-width: 1430px) {
  /* *****general styles***** */
  body {
    max-width: 1980px;
    overflow-x: hidden;
  }

  .heading {
    text-align: left;
  }

  /* ***forms*** */
  input[type="email"],
  input[type="submit"] {
    width: max-content;
  }

  input[type="submit"] {
    transition: all 0.3s;
  }

  input[type="submit"]:hover {
    filter: brightness(135%);
    -webkit-filter: brightness(135%);
  }

  .section-heading {
    font-size: 1.6rem;
  }

  /* *****header***** */
  header {
    padding: 2rem 5% 2rem;
  }

  nav.main-nav ul.nav-links .nav-link {
    padding-left: 2.5rem;
  }

  nav.main-nav ul.nav-links .nav-link a {
    font-size: 1rem;
  }

  nav.main-nav ul.nav-links .nav-link a:hover {
    border-bottom: 1px solid var(--very-dark-blue);
  }

  .hero {
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 3rem 0;
  }

  .hero-img-container,
  .hero-txt {
    text-align: left;
    width: 45%;
  }

  .hero-img-container {
    padding: 0;
    order: 2;
  }

  .hero-txt {
    padding-right: 5%;
  }

  .main-heading {
    font-size: 2rem;
  }

  form.hero-form {
    padding: 0;
  }

  form.hero-form input[type="email"] {
    width: 60%;
  }

  form.hero-form input[type="submit"] {
    padding: 0.9rem 3rem;
    margin-left: 1rem;
  }

  /* ***stay productive*** */
  .section-bg-top {
    background: url("./images/bg-curve-desktop.svg") 100% / 100% no-repeat;
    padding-top: 7.916%;
  }

  .stay-productive-container {
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 0 5% 4rem;
  }

  .section-img-container {
    padding: 2rem 0 3rem;
    text-align: left;
    width: 45%;
    order: 2;
  }

  .section-txt {
    padding: 1rem 0 0;
    width: 45%;
  }

  .section-stay-productive p.info {
    padding: 0 9rem 1rem 0;
  }

  a.how-it-works {
    margin: 0.5rem 0 2rem;
    text-align: left;
    transition: all 0.3s;
  }

  a.how-it-works:hover {
    filter: brightness(130%);
    -webkit-filter: brightness(130%);
  }

  .testimonial {
    padding: 1.5rem;
    width: 50%;
    margin: 0;
  }

  .testimonial i,
  .testimonial p.info {
    font-size: 0.8rem;
  }

  .testimonial p.info {
    padding: 0.5rem 0 0.5rem;
  }

  /* ***get access*** */
  .section-get-access {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-start;
    padding: 2.5rem 5% 3rem;
  }

  .get-access-txt,
  .section-get-access form.get-access-form {
    width: 35%;
  }

  .section-get-access p.info {
    text-align: left;
    padding-bottom: 0;
  }

  .section-get-access form.get-access-form {
    margin: 0;
  }

  .section-get-access form.get-access-form input[type="email"] {
    width: 100%;
  }

  .section-get-access form.get-access-form input[type="submit"] {
    padding: 0.9rem 1.5rem;
  }

  /* *****footer***** */
  footer {
    display: grid;
    grid-template-rows: repeat(5, auto);
    grid-template-columns: repeat(9, 1fr);
    gap: 1rem;
    padding: 3rem 5% 2rem;
  }

  .footer-logo {
    margin-bottom: 0;
    grid-area: 1 / 1 / 2 / 10;
  }

  .contact-details {
    padding-bottom: 0;
    grid-area: 2 / 1 / 4 / 3;
  }

  nav.footer-nav {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    grid-area: 2 / 4 / 6 / 7;
  }

  nav.footer-nav .nav-links {
    padding-bottom: 0;
  }

  nav.footer-nav .nav-links a {
    transition: all 0.3s;
  }

  nav.footer-nav .nav-links a:hover {
    color: var(--desaturated-blue);
  }

  footer .social-media {
    grid-area: 2 / 8 / 3 / 9;
  }

  footer .social-media-link-container {
    transition: all 0.3s;
  }

  footer .social-media-link-container:first-child:hover {
    border-color: hsl(221, 44%, 41%);
  }

  footer .social-media-link-container:first-child:hover a {
    color: hsl(221, 44%, 41%);
  }

  footer .social-media-link-container:nth-child(2):hover {
    border-color: hsl(197, 100%, 47%);
  }

  footer .social-media-link-container:nth-child(2):hover a {
    color: hsl(197, 100%, 47%);
  }

  footer .social-media-link-container:last-child:hover {
    border-color: hsl(326, 57%, 48%);
  }

  footer .social-media-link-container:last-child:hover a {
    color: hsl(326, 57%, 48%);
  }
}
